.mfooter-main {
    text-align: center;
    width: 376px;
    padding: 0px 13px;
    background-image: url(../../assets/images/footer_shape_mobi.svg);
    background-repeat: no-repeat;
    ul {
        display: flex;
        justify-content: space-between;

        li {
            padding: 7px;
            display: flex;
            flex-direction: column;
            border: 0px solid red;
            height: 70px;
        }
    }
    .icon {
        border: 0px solid red;
    }
    span img {
        height: 25px;
        width: 25px;
    }
    .text {
        margin-top: 4px;
        font-size: 16px;
        line-height: 18px;
        word-spacing: 0.5px;
    }
    .buy_round {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.buy_button_main {
      border: 0px solid #ccc;
    .buy_button {
        border: 0px solid black;
        .buy_button_1 {
            width: 74px;
            height: 74px;
            border-radius: 50px;
            position: relative;
            background: linear-gradient(180deg, #FFF, #FFF);
            text-align: center;
            top: -38px;
            left: -1px;
            border: 2px solid #CCCCCC;
        }

        .buy_button_2 {
            width: 58px;
            height: 58px;
            border-radius: 50px;
            position: relative;
            background: linear-gradient(180deg, #EBEBEB, #EBEBEB);
            text-align: center;
            left: 6px;
            top: 6px;
            display: flex;
            align-items: center;
            justify-content: center;

            .buy_text {
                font-family: $vodafonrg-bold;
                color: $primary;
                font-size: 22px;
                line-height: 18px;
            }
        }
    }
}

.half-circle {
    width: 180px;
      height: 90px;
      border-radius: 0 0 12rem 12rem;
      background-color: purple;

      border: 10px solid gray;
      border-top: 0;
      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}

@media (max-width: 350px) {

    .mfooter-main {
        text-align: center;
        width: 320px;
        padding: 0px 1px;
        background-image: url(../../assets/images/footer_shape_mobi_320.svg);
        background-repeat: no-repeat;
        ul {
            display: flex;
            justify-content: space-between;
    
            li {
                padding: 7px 4px;
                display: flex;
                flex-direction: column;
                border: 0px solid red;
                height: 70px;
            }
        }
        .icon {
            border: 0px solid red;
        }
        span img {
            height: 25px;
            width: 25px;
        }
        .text {
            margin-top: 4px;
            font-size: 16px;
            line-height: 18px;
            word-spacing: 0.5px;
        }
        .buy_round {
            top: 0;
            left: 0;
        }
    }

    
.buy_button_main {
    border: 0px solid #ccc;
  .buy_button {
      border: 0px solid black;
      .buy_button_1 {
          border-radius: 40px;
          left: 1px;
      }

      .buy_button_2 {

          .buy_text {
            border: 0px solid red;
          }
      }
  }
}
    
}