//Cards Css
.card-comp001 {
    .card {
        border-radius: 9px !important;
        box-shadow: 0 2px 4px 0px rgb(0 0 0 / 26%);
        border: 0px;
        cursor: pointer;

        .card-insec {
            display: flex;
            align-items: center;

            img {
                width: 62px;
                height: 72px;
                margin: 34px 20px 34px 34px;
            }

            .card-body {
                flex: 0 0 auto;
                padding: 0px;
                text-align: center;
                margin-top: 10px;

                .card-title {
                    font-family: $vodafonrg-regular;
                    font-size: 24px;
                    line-height: 26px;
                    color: $secondary;
                    letter-spacing: 1.2px;
                    @include ellipsis(2);
                }
            }
        }
    }
}

// class for buy bundles start

.card-comp002 {
    .card {
        border-radius: 9px !important;
        box-shadow: 0 2px 4px 0px rgb(0 0 0 / 26%);
        border: 0px;
        cursor: pointer;

        .card-body {
            padding: 0px 10px !important;
        }

        .card-insec {
            display: flex;
            align-items: center;
            padding:15px 10px;

            h5 {
                font-family: $vodafonrg-bold !important;
                font-size: 28px;
                line-height: 30px;
                letter-spacing: 1.68px;
                text-align: center;
                margin-bottom: 15px;
            }

            .bun-supp-txt {
                font-family: $vodafonlt-light;
                font-size: 18px;
                
                line-height: 22px;
                letter-spacing: 0.56px;
                text-align: center;
            }
        }
    }
}

.card-comp003 {    
        background: $white;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        padding: 20px;
        flex: 1 0 48%;
        .card_heading
        {
            font-family:$vodafonrg-bold;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1px;
        }
        .card_main_txt
        {
            font-family: $vodafonrg-regular;
            font-size: 32px;
            line-height: 60px;
            letter-spacing: 1.5px;
        }
        img
            {
                height: 36px;
                width: 36px;
                align-self: center;
            }

}
// class for buy bundles end

.vfmcard-bg-comp {
    width: 439px;
    background: #fff;
    border-radius: 6px;
    padding: 40px;
    margin: 0 auto;

    p {
        font-size: 24px;
        line-height: 30px;
    }
}

//summary card start
.summary-card-mobi {
    display: none;
}

.summary-card-web {
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: $primary;
    .card-title {
        font-family: $vodafonrg-bold;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 1.5px;
        color: $white;
    }

    .card-support {
        font-family: $vodafonrg-regular;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.5px;
        color: $white;
        margin-top: 20px;
    }
}

.summary-card-details {
    padding: 40px 25px;

    .summary-bld-txt {
        font-family: $vodafonrg-bold;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: $dark-gray;
    }

    .summary-regu-txt {
        font-family: $vodafonrg-regular;
        
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: $dark-gray;
    }

    .summarry-fina-txt {
        font-family: $vodafonrg-regular;
        
        font-size: 18px;
        line-height: 21px;
        color: $dark-gray;
    }
}

//summary card end

// success page css start
.success-comp {
    .success-img {
        img {
            width: 90px;
        }
    }

    .success-heading {
        font-family: $vodafonlt-light;
        font-size: 32px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 1.72px;
    }
    .success-xsma-txt
        {
            font-family: $vodafonrg-bold;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 1px;
        }
        .success-xlar-text
        {
            font-family: $vodafonlt-light;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 1.5px;
        }
        .success-lar-text
        {
            font-family: $vodafonrg-regular;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 1.2px;
        }
        .success-smal-text
        {
            font-family: $vodafonlt-light;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1px;
        }

}
// success page css end

@media (max-width: 992px) {
    .card-comp001 {
        display: -webkit-box;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            border-radius: 9px !important;
            box-shadow: 0 2px 4px 0px rgb(0 0 0 / 26%);
            border: 0px;
            flex: 1 0 auto;
            margin-bottom: 0px;
            width: 48%;

            .card-insec {
                display: flex;
                align-items: center;

                img {
                    width: 47px;
                    height: 41px;
                    margin: 23px 10px 23px 23px;
                }

                .card-body {
                    .card-title {
                        font-size: 16px;
                        line-height: 18px;
                        color: $secondary;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {

    .card-comp002 {
        display: -webkit-box;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            border-radius: 9px !important;
            box-shadow: 0 2px 4px 0px rgb(0 0 0 / 26%);
            border: 0px;
            flex: 1 0 auto;
            margin-bottom: 0px;
            width: 48%;

            .card-insec {
                display: flex;
                align-items: center;
                h5 {
                    font-size: 20px !important;
                    line-height: 22px !important;
                    letter-spacing: 0.5px !important;
                }
                .bun-supp-txt {
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    //Summary card start
    .summary-card-web {
        display: none;
    }

    .summary-card-mobi {
        height: 200px;
        // background: linear-gradient(180deg, $primary 27.54%, $dark-red 88.84%);
        background: $primary;
        border-radius: 0px 0px 14px 14px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: -20px -20px 0px -20px;

        .card-title {
            font-family: $vodafonrg-bold;
            font-size: 22px;
            line-height: 25px;
            text-align: center;
            color: $white;
        }

        .card-support {
            font-family: $vodafonrg-regular;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.5px;
            color: $white;
        }
    }

    .summary-card-details {
        padding: 20px;

        .summary-bld-txt {
            font-family: $vodafonrg-bold;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.5px;
            color: $dark-gray;
        }

        .summary-regu-txt {
            font-family: $vodafonrg-regular;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.5px;
            color: $dark-gray;
        }

        .summarry-fina-txt {
            font-family: $vodafonrg-regular;
            font-size: 18px;
            line-height: 21px;
            color: $dark-gray;
        }
    }

    //Summary card end

    // success page css start
    .success-comp{
        .success-img {
            img {
                width: 80px;
            }
        }
        .success-heading
        {
            font-size: 22px;
            line-height: 25px;  
            letter-spacing: 0.5px;
        }
        .success-xsma-txt
        {
            border: 0px solid red;
        }
        .success-xlar-text
        {
            border: 0px solid red;
        }
        .success-lar-text
        {
            border: 0px solid red;
        }
        .success-smal-text
        {
            border: 0px solid red;
        }
    }
    
    // success page css end

    .card-comp003 {    
        padding: 20px;
        flex: 1 0 48%;
        .card_heading
        {
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.5px;
        }
        .card_main_txt
        {
            font-size: 28px;
            line-height: 32px;
            letter-spacing: 0.5px;
            margin-top: 10px;
        }
        img
            {
                height: 28px;
                width: 28px;
            }

}
.vfmcard-bg-comp {
    width:100%; 
    p {font-size:20px; line-height:22px;}
}

}

@media (max-width: 320px) {
    .card-comp001 {
        .card {
            .card-insec {
                img {width:40px; height:35px; margin:23px 10px 23px 10px;}
            }
        }
    }
}