//Forms
.border-rad20{
    border-radius:20px;
 }
.form-control {
    font-size: 16px;
    border-radius: 4px;
    @extend %white-bg;
    border:.5px solid $border;
    height: 46px;
    padding: 10px 16px;
    @extend %vodafonrg-regular;
    position: relative;
    &:focus {
        border-color: $border;
        @extend %white-bg;
    }
    &:disabled,
    &.disabled,
    &[readonly] {
        background: $light;
        color: $dark-gray;
        border-color:$border;
    }
    &.error{
        border-color: $primary;
        background-image: url(../images/error_red.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
        background-size: 40px;
    }
}

//Placeholder
::placeholder {
    color: $placeholder;
    opacity: 1;
    @extend %vodafonrg-regular;
}

::-webkit-input-placeholder {
    color: $placeholder;
    @extend %vodafonrg-regular;
}

::-moz-placeholder {
    color: $placeholder;
    @extend %vodafonrg-regular;
}

:-ms-input-placeholder {
    color: $placeholder;
    @extend %vodafonrg-regular;
}

:-moz-placeholder {
    color: $placeholder;
    @extend %vodafonrg-regular;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_icon {
    position: relative;
    button {
        position: absolute;
        box-shadow: none;
        border: none;
        background: none;
        img {
            width: 40px;
        }
    }
    &.left-icon {
        .form-control {
            padding-left: 40px;
        }
        button {
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
        }
    }
    &.right-icon {
        .form-control {
            padding-right: 40px;
            &.error{
                background-image: none;
            }
        }
        button {
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
        }
    }
    &.left-right-icon {
        .form-control {
            padding-left: 40px;
            padding-right: 40px;
        }
        .left-icon {
            left: 12px;
            display: flex;
            align-items: center;
        }
        .right-icon {
            top: 5px;
            right: 12px;
        }
    }
}

//Checkbox & Radios
.cs_checkbox_grp,.cs_radio_grp{
    padding-left: 36px;
}
.custom_radio,
.custom_checkbox {
    position: absolute;
    opacity: 0;
}

.custom_radio{
    + label{
        position: relative;
        cursor: pointer;
        margin-bottom: 0px;
        font-size: 14px;
        position: relative;
        @extend %vodafonrg-regular;
        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 30px;
            @extend %white-bg;
            border: 1px solid $border;
            top: 0px;
            left: -36px;
        }
    }
    &:disabled{
        + label{
            color: $placeholder;
            &::before{
                background: $light;
            }
        }
        &:focus{
            border-color: $border;
            box-shadow: none;
        }
    }
    &:checked{
        + label{
            &::before{
                border: 6px solid $primary;
            }
        }
        &:disabled{
            + label{
                color: $placeholder;
                &::before{
                    @extend %primary-bg;
                }
            }
        }
    }
}

.custom_checkbox{
    + label{
        position: relative;
        cursor: pointer;
        margin-bottom: 0px;
        position: relative;
        font-size: 14px;
        @extend %vodafonrg-regular;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: -36px;
            width: 24px;
            height: 24px;
            border-radius: 30px;
            @extend %white-bg;
            border: 1px solid $border;
        }
    }
    &:disabled{
        + label{
            color: $placeholder;
            &::before{
                background: $light;
            }
        }
        &:focus{
            border-color: $border;
            box-shadow: none;
        }
    }
    &:checked{
        + label{
            &::before{
                @extend %primary-bg;
                border: 1px solid $primary;
            }
            &::after{
                content: url(../images/check_white.svg);
                position: absolute;
                left: -29px;
                top: 0px;
            }
        }
        &:disabled{
            + label{
                color: $placeholder;
                &::before{
                    @extend %primary-bg;
                }
            }
        }
    }
}

textarea.form-control {
    height: 8em;
    min-height: auto;
    resize: none;
}

.cs_select {
    position: relative;
    .form-select {
        box-shadow: 0 2px 4px 0px rgb(64 60 67 / 5%);
        border:0px;
        height:49px;
        padding:0px 37px;
        .option-heding{
            background-color:$light-black;
            color: $fuldark-gray;
        }
        .option-cont{display: flex; justify-content: space-between;}
    }
}

.custom_checkbox + label::before {
    left:-20px!important; width:20px!important; height:20px!important;
 }
 .custom_checkbox:checked + label::after {
    content: url(../images/check_white.svg);
    position: absolute;
    left: -15px;
    top: -2px;
 }

 .input-bas-comp{
    label{
        font-size: 28px;
        line-height: 30px;
    }
    .form-control{
        font-family: $vodafonlt-light;
        font-size:28px;
        line-height: 30px;
        background:transparent;
        border-top:0px;
        border-right:0px;
        border-left:0px;
        border-bottom: 1px solid $border;
        border-radius: 0px !important;
        padding:0px;
    }
    .form-control:focus{border-bottom: 1px solid $primary;}
 }

 .input-group-comp{
    span{
        font-size:20px;
        line-height: 30px;
        background:transparent;
        border-top:0px;
        border-right:0px;
        border-left:0px;
        border-bottom: 1px solid $border;
        border-radius: 0px !important;
        padding:0px 20px 0px 0px;
    }
    .form-control{
        font-family: $vodafonlt-light;
        font-size:20px;
        line-height: 30px;
        background:transparent;
        border-top:0px;
        border-right:0px;
        border-left:0px;
        border-bottom: 1px solid $border;
        border-radius: 0px !important;
    }
    .form-control:focus{
        border-bottom: 1px solid $primary;
    }
 }

/*form-switch-comp*/
.form-switch-comp{
    display: flex;
}

.dropdown-comp{
    font-family: $vodafonlt-light;
    width: 70%;
    .list{display: flex; justify-content: space-between; padding:10px 25px;}
    .btn.show{
        color: $fuldark-gray !important;
        background-color:$white !important;
        border-color: $white !important;       
    }
    .btn-secondary{
        font-size:24px;
        line-height: 30px;
        color: $fuldark-gray !important;
        background-color:$white !important;
        border-color: $white !important;
        width:100%;
        height:49px;
    }
    .dropdown-menu-dark{
        background:$white !important;
        width:100%;
        border-radius:6px;
        padding:0px;
    }
    .dropdown-item{
        font-size: 24px;line-height: 30px;color:$fuldark-gray;padding: 0px;
    }
    .dropdown-item:active{ background-color: transparent !important;}
    .dropdown-item.active{font-family: $vodafonrg-bold;background-color: #CCCCCC !important;padding:15px 25px;}
    .dropdown-item:hover{color:$fuldark-gray;}
    .check-icon{
        align-items: center;
        padding:10px 25px;
        img{height:31px; width:31px;}
    }
    .delete-icon{
        padding:10px 35px;
        align-items: center;
        img{width:24px; height:24px;cursor: pointer;}
    }
}
.drop-down-bg{
    background: rgba(0, 0, 0, 0.26);
    height: 100%;
    width: 100%;
    z-index: 99;
    position:absolute;
    top: 0px;
}


@media (max-width: 768px) {
    .cs_select {
        .form-select {padding:0px 12px;}        
    }
    .input-bas-comp{
        label{font-size: 20px; line-height: 22px;}
        .form-control{font-size: 20px; line-height: 22px;}
     }
    .input-group-comp{
        .form-control{font-size: 20px; line-height: 22px;}
        span{font-size: 20px; line-height: 22px;}
     }
     .dropdown-comp{
        width: 100%;
        .btn-secondary{font-size:20px; line-height: 23px;}
        .dropdown-item{font-size: 20px; line-height: 23px;}
    }
}
